<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822706239774-mts6bp9seibimasuqietrv8aqedjvcgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822706239774-mts6bp9seibimasuqietrv8aqedjvcgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCc-qCXi5aA8dkpquZ8aISIgQFSfhJhxqk</string>
	<key>GCM_SENDER_ID</key>
	<string>822706239774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SebastianHajduk.Watudo</string>
	<key>PROJECT_ID</key>
	<string>watudo-f55d7</string>
	<key>STORAGE_BUCKET</key>
	<string>watudo-f55d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822706239774:ios:5f4a793658dd872bfc310f</string>
</dict>
</plist>