<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>LSApplicationQueriesSchemes</key>
			<array>
				<string>fbauth2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3517037301863277</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.822706239774-mts6bp9seibimasuqietrv8aqedjvcgk</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Panton-LightCaps.otf</string>
		<string>Panton-BlackCaps.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>CFBundleURLTypes</key>
					<array>
						<dict>
							<key>CFBundleURLSchemes</key>
							<array>
								<string>3517037301863277</string>
							</array>
						</dict>
					</array>
					<key>FacebookAppID</key>
					<string>3517037301863277</string>
					<key>FacebookClientToken</key>
					<string>eeb8817062e7ea76383f050f259e8981</string>
					<key>FacebookDisplayName</key>
					<string>Watudo</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
